---
layout: default
---
<div class="publi">
  <h1>{{ page.title }}</h1>
  <p>Year: {{ page.year }}</p>
  <h2>Authors</h2>
  <ul>
    {% for author in page.authors %}
      <li>{{ author[0] }} (Affiliation {{ author[1] }})</li>
    {% endfor %}
  </ul>
  <h2>Affiliations</h2>
  <ul>
    {% for affiliation in page.affiliations %}
      <li>Affiliation {{ forloop.index }}: {{ affiliation }}</li>
    {% endfor %}
  </ul>
  <h2>Journal</h2>
  <p>{{ page.journal }}</p>
  <h2>Links</h2>
  <ul>
    <li><a href="{{ page.links.arxiv }}">ArXiv</a></li>
    <li><a href="{{ page.links.supplementary }}">Supplementary</a></li>
    <li><a href="{{ page.links.bib }}">BibTeX</a></li>
  </ul>
  <h2>Caption</h2>
  <p>{{ page.caption }}</p>
</div>
